In [2]:
# Print a list

high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]
for schools in high_schools:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# Create a dictionary

high_school_types = [{"School ID":0,"High School": "Griffin", "Type":"District"}, {"School ID":1,"High School":"Figueroa", "Type":"District"}, {"School ID":2,"High School":"Wilson", "Type":"Charter"}, {"School ID":3,"High School":"Wright", "Type":"Charter"}]

In [10]:
# Print a list using a for loop

import pandas as pd
school_series = pd.Series(high_schools)
for index in school_series:
    print(index)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [14]:
# output a dataframe

high_school_types = [{"School ID":0,"High School": "Griffin", "Type":"District"}, {"School ID":1,"High School":"Figueroa", "Type":"District"}, {"School ID":2,"High School":"Wilson", "Type":"Charter"}, {"School ID":3,"High School":"Wright", "Type":"Charter"}]

schools_dataframe = pd.DataFrame(high_school_types)
schools_dataframe

   School ID High School      Type
0          0     Griffin  District
1          1    Figueroa  District
2          2      Wilson   Charter
3          3      Wright   Charter

In [ ]:
# GOALS
# High level snapshot of districts key metrics presented in table format
# Overview of key metrics for each school presented in table format
# Tables of each: 
    # Top 5 and bottom 5 performing schools bsed on overall passing rate
    # Average math score recieved by students in each grade level at each school
    # Average reading score recieved by students in each grade level at each school
    # School performance based on budget per student
    # School performance based on school size
    # School performance based on type of school

In [17]:
# read csv in python:panda

import os
import pandas as pd

schools_data = os.path.join("Resources", "schools_complete.csv")
students_data = os.path.join("Resources", "students_complete.csv")

schools_df = pd.read_csv(schools_data)
students_df = pd.read_csv(students_data)

schools_df.head()
students_df.head()

#Push practice code to GitHub

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [19]:
# Check for missing data

import os
import pandas as pd

schools_data = os.path.join("Resources", "schools_complete.csv")
students_data = os.path.join("Resources", "students_complete.csv")

schools_df = pd.read_csv(schools_data)
students_df = pd.read_csv(students_data)

students_df.count()
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [ ]:
# Missing Data Handelling

import os
import pandas as pd

schools_data = os.path.join("Resources", "schools_complete.csv")
students_data = os.path.join("Resources", "students_complete.csv")
missing_data = os.path.join("Resources", "missing_grades.csv")

schools_df = pd.read_csv(schools_data)
students_df = pd.read_csv(students_data)
missing_df = pd.read_csv(missing_data)